<body>
    <div class="container">
        <H1> LISTADO DE PRODUCTOS</H1>
        <div class="lista" *ngIf="verProducto">
            <div *ngFor="let p of productos">
                <table>
                    <tr>
                        <td>{{p.nombre}}</td>
                        <td>{{p.costo | currency}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <button class="bn" (click)="verProducto = !verProducto"> Ver Listado / Ocultar Listado </button>

    </div>
</body>